/* .container {
  cursor: pointer !important;
  width: 70vw;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
} */

.image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.container h1 {
  cursor: pointer;
  width: 100%;
}

/* .container h1 {
  font-size: 1.7rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.container h2 {
  font-size: 1rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
} */
