.articleList{
    list-style: none;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.button {
    width: 100%;
    background: #FD7E14;
    color: white;
    border: none;
    border-radius: 5px;
}