.container {
  display: flex;
  gap: 70px;
  /* flex-wrap: wrap; */
}

.articleList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* align-items: center; */
  /* justify-content: center; */
  max-width: 70ch;
}
.button {
  width: 100%;
  background: #115ed4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.button:hover {
  background-color: #fffff0;
  color: #115ed4;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.searchBar{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #115ed4;
  margin-bottom: 20px;
}