@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 5px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --fs-h1: 4rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-h4: 0.875rem;
  --fs-body-regular: 1rem;
  --fs-body-small: 0.875rem;
  --fs-body-mobile: 0.625rem;

  --clr-light-1: #fffff0;
  --clr-light-2: #f1f1f1;
  --clr-light-3: #bbbbbb;
  --clr-dark-1: #0c0a0c;
  --clr-dark-2: #1b181b;
  --clr-dark-3: #1b181b;
  --clr-dark-4: #433c43;
  --clr-accent: #fd7e14;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading-1 {
  font-size: var(--fs-h1);
}

.heading-2 {
  font-size: var(--fs-h2);
}

.heading-3 {
  font-size: var(--fs-h3);
}

.heading-4 {
  font-size: var(--fs-h4);
}

.body-regular {
  font-size: var(--fs-body-regular);
  letter-spacing: 0.07ch;
}

.body-secondary {
  font-size: var(--fs-body-small);
  color: var(--clr-light-3);
}

.body-bold {
  font-size: var(--fs-body-regular);
  font-weight: 600;
}

.body-small {
  font-size: var(--fs-body-small);
}

.body-mobile {
  font-size: var(--fs-body-mobile);
}

.accent-color {
  color: var(--clr-accent);
}

html,
body {
  max-width: 100vw;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--clr-dark-2);
  color: var(--clr-light-1);
  overflow-x: hidden;
  padding: 30px 30px 30px 60px;
  
}

body {
  display: grid;
  place-items: center;
}

section {
  margin: 100px 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input {
  background-color: var(--clr-dark-2);
  border: 1px solid var(--clr-accent);
  color: var(--clr-light-3);
  padding: 15px 25px;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--fs-body-regular);
  border-radius: var(--border-radius);
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  font-size: var(--fs-body-regular);
  font-weight: 550;
  padding: 8px 30px;
  border-radius: var(--border-radius);
  cursor: pointer !important;
}

.button-primary,
.button-secondary:hover {
  background-color: var(--clr-accent);
  color: var(--clr-light-1);
}

.button-primary:hover,
.button-secondary {
  background-color: var(--clr-light-1);
  color: var(--clr-accent);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

footer {
  display: grid;
  place-items: center;
  gap: 80px;
  text-align: center;
  position: relative;
}

/* Media Queries for Mobile Layout */

@media (max-width: 500px) {
  html,
  body {
    margin: 0;
    padding: 50px 15px 20px 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  button {
  }

  .heading-1 {
    font-size: var(--fs-h2);
  }

  .heading-2 {
    font-size: var(--fs-h3);
  }

  .body-regular {
    font-size: var(--fs-body-small);
  }

  .body-secondary {
    font-size: var(--fs-body-mobile);
    color: var(--clr-light-3);
  }
}
