.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}
