.container {
  display: flex;
  gap: 25px;
  max-width: 768px;
}

.container > img {
  flex: 0 0 auto;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.textContent {
  max-width: 70ch;
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

@media (max-width: 420px) {
  .container {
    flex-direction: column;
  }

  .container > img {
    width: 100%;
  }
}
.pdfcanvas {
  width: 10vw;
  height: 10vh;
}

.pdfviewer {
  width: 10vw;
}
@media screen and (max-width: 768px) {
  .pdfcanvas {
    width: 90vw;
    height: 10vh;
  }
  .pdfviewer {
    width: 90vw;
  }
  .pdfview {
    width: 90vw;
    height: 10vh;
  }
}
