.publishedpopup {
    padding: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 40px;

}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;

}
.credits {
    font-size: 0.9rem;
    font-weight: normal;

}
.pdfviewer {

}
.commentswrapper {

}
.commentauth{

} 
.commenttext
{

}
.page  hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.page {
    margin-top: 20px;
    margin-bottom: 20px;
}
.clickedbutton {
    background-color: red;
    color: black;
}