.publishedpopup {
  padding: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 40px;
}

.page hr {
  margin-top: 1%;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #eee;
}
.page {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  overflow-y: visible;
}

.commentcontainer {
  position: sticky;
  top: 30px;
  align-self: flex-start;
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: -5px 0px 3px -1px #fd7e14, 5px 0px 3px -1px #fd7e14;
}

.commentcontainer h3 {
  margin-bottom: 20px;
}

.comment {
  filter: none;
}
.readercont {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  overflow: visible;
}
.commentlist {
  max-height: 80vh;
  overflow-y: scroll;
  text-wrap: normal;
  overflow-x: hidden;
}
.commentauth {
  color: #bbbbbb;
}
.commenttext {
  color: #ffffff;
  padding-top: 1%;
  white-space: initial;
}

.votebutton {
  background-color: transparent;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding: 10px 0 20px 0;
}

.votesection {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  width: 30%;
}
.clickedbutton {
  background-color: #fff;
}
/* .commenthr {
  border: 0;
  border-top: 1px solid #fffff0;
  margin-top: 1%;
  margin-bottom: 1%;
  transform: translateX(-50%);
} */
.commentcontainer textarea {
  background: #1b181b;
  color: #ffffff;
  border: 1px solid #fd7e14;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  resize: none;
  outline: none;
  position: relative;
  margin-top: 5px;
}

.addcomment {
  position: absolute;
  right: 0;
  bottom: 16px;
  background: transparent;
}
.commentviewbutton {
  display: none;
}
.commentopenbutton {
  display: none;
}

@media screen and (max-width: 768px) {
  .commentviewbutton {
    display: block;
    position: absolute;
    right: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
  }
  .commentcontainer {
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hiddencomment {
    display: none !important;
  }
  .commentopenbutton {
    display: block;
    position: fixed;
    right: 5px;
    background: #fd7e14;
    color: white;
    border: none;
    border-radius: 5px;
    bottom: 5%;
  }
  .commentlist {
    padding-left: 5%;
  }
  .commentcontainer hr {
    display: none;
  }
  .page {
    position: absolute;
    left: 0;
  }
  .page h1,
  .page p,
  .page h2 {
    padding-left: 5%;
    padding-right: 5%;
  }
}
